---
import MainLayout from "@/layouts/mainLayout/MainLayout.astro";
const imgLogo = "../assest/imgs/logo_conectado.png";
const imgConect = "../assest/imgs/conectados.png";
---

<MainLayout title="Home">
  <section class="flex flex-col items-center">
    <h3 class="sm:text-3xl text-xl text-white">
      Estas cordialmente invitado a
    </h3>
    <img class="m-3" src={imgLogo} width="250" height="250" alt="Logo" />
  </section>
  <section></section>
  <section>
    <img
      class="items-center flex sm:w-fit p-3"
      src={imgConect}
      alt="Conectados"
    />
    <p class="sm:text-xl text-2xl text-white p-8 text-center">
      Un espacio único,donde podras descubrir como somos el puente que conecta a
      nuestros clientes con aliados como tu
    </p>
    <div class="border-b-2 border-white w-10/12 mx-auto"></div>
    <div></div>
  </section>
  <section class="pb-8 mb-14">
    <p class="text-white text-center text-xl">
      ¡Esperamos verte y compartir este momento juntos!
    </p>
  </section>
</MainLayout>
