---
import HeadBase from "@/components/headBase/HeadBase.astro";
import Header from "@/components/header/Header.astro";
import { siteInfo } from "@/consts";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  image?: string;
  description?: string;
}

const { title = siteInfo?.title, description = siteInfo?.description } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadBase title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="bg-blue-800">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
